html {
    background-image: url(backgroundutama.jpg);
    background-repeat: no-repeat;
    font-family: Helvetica, sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    text-align: center;
    margin-top: 13%;
}

.container {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

p {
    text-align: center;
    font-size: 50px;
    top: 25%;
    bottom: 25%;
}